@{
    ViewData["Title"] = "Home Page";
}




<header class="header1">
<div class="container">
	<div class="jumbotron" style="background-image:url('images/banner.jpg')">
	<h1>Test, şablon..!</h1>
	<p>...</p>
	<p><a class="btn btn-primary btn-lg" href="#" role="button">Detaylar..</a></p>
	</div>
</div>
</header>




<div class="container">

<nav aria-label="...">
  <ul class="pager">
	<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Önceki</a></li>
    <li class="next"><a href="#">Sonraki <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>



<div class="row">
  
    <div class="col-md-3 simpleCart_shelfItem">   
<div class="panel panel-default">
     <div class="panel-heading item_name">Portakal</div>
  <div class="panel-body">
 <img src="http://placehold.it/1000x1000/cecc00/" class="img-thumbnail img-responsive item_thumb"><br> 
     Açıklama
  </div>
  <div class="panel-footer"> <p class="item_price">₺ 0.5</p><span class='btn btn-danger btn-md item_add'>Ekle</span> 
      <label>Adet / Kg: <input class="item_Quantity form-control" type="text" value="1"></label>

     </div>
</div>
</div><!-- end object -->

 <div class="col-md-3 simpleCart_shelfItem">   
<div class="panel panel-default">
     <div class="panel-heading item_name">Elma</div>
  <div class="panel-body">
 <img src="http://placehold.it/1000x1000/ffdc00/" class="img-thumbnail img-responsive item_thumb"><br>Açıklama
  </div>
  <div class="panel-footer"><p class="item_price">₺ 1</p>  <span class='btn btn-danger btn-md item_add'>Ekle</span>  <label>Adet / Kg: <input class="item_Quantity form-control" type="text" value="1"></label></div>
</div>

</div><!-- end object -->
     <div class="col-md-3 simpleCart_shelfItem">   
<div class="panel panel-default">
     <div class="panel-heading item_name">Muz</div>
  <div class="panel-body">
  <img src="http://placehold.it/1000x1000/ffcc00/" class="img-thumbnail img-responsive item_thumb"><br>Açıklama
  </div>
  <div class="panel-footer"><p class="item_price">₺ 3</p>  <span class='btn btn-danger btn-md item_add'>Ekle </span>  <label>Adet / Kg: <input class="item_Quantity form-control" type="text" value="1"></label></div>
</div>

</div><!-- end object -->
    
    
	     <div class="col-md-3 simpleCart_shelfItem">   
<div class="panel panel-default">
     <div class="panel-heading item_name">Erik</div>
  <div class="panel-body">
  <img src="http://placehold.it/1000x1000/ffcc00/" class="img-thumbnail img-responsive item_thumb"><br>Açıklama
  </div>
  <div class="panel-footer"><p class="item_price">₺ 2</p>  <span class='btn btn-danger btn-md item_add'>Ekle </span>  <label>Adet / Kg: <input class="item_Quantity form-control" type="text" value="1"></label></div>
</div>

</div><!-- end object -->

    
	     <div class="col-md-3 simpleCart_shelfItem">   
<div class="panel panel-default">
     <div class="panel-heading item_name">Erik</div>
  <div class="panel-body">
  <img src="http://placehold.it/1000x1000/ffcc00/" class="img-thumbnail img-responsive item_thumb"><br>Açıklama
  </div>
  <div class="panel-footer"><p class="item_price">₺ 2</p>  <span class='btn btn-danger btn-md item_add'>Ekle </span>  <label>Adet / Kg: <input class="item_Quantity form-control" type="text" value="1"></label></div>
</div>

</div><!-- end object -->
	
	
		     <div class="col-md-3 simpleCart_shelfItem">   
<div class="panel panel-default">
     <div class="panel-heading item_name">Erik</div>
  <div class="panel-body">
  <img src="http://placehold.it/1000x1000/ffcc00/" class="img-thumbnail img-responsive item_thumb"><br>Açıklama
  </div>
  <div class="panel-footer"><p class="item_price">₺ 2</p>  <span class='btn btn-danger btn-md item_add'>Ekle </span>  <label>Adet / Kg: <input class="item_Quantity form-control" type="text" value="1"></label></div>
</div>

</div><!-- end object -->

	     <div class="col-md-3 simpleCart_shelfItem">   
<div class="panel panel-default">
     <div class="panel-heading item_name">Erik</div>
  <div class="panel-body">
  <img src="http://placehold.it/1000x1000/ffcc00/" class="img-thumbnail img-responsive item_thumb"><br>Description
  </div>
  <div class="panel-footer"><p class="item_price">₺ 2</p>  <span class='btn btn-danger btn-md item_add'>Ekle </span>  <label>Adet / Kg: <input class="item_Quantity form-control" type="text" value="1"></label></div>
</div>

</div><!-- end object -->


	     <div class="col-md-3 simpleCart_shelfItem">   
<div class="panel panel-default">
     <div class="panel-heading item_name">Erik</div>
  <div class="panel-body">
  <img src="http://placehold.it/1000x1000/ffcc00/" class="img-thumbnail img-responsive item_thumb"><br>Description
  </div>
  <div class="panel-footer"><p class="item_price">₺ 2</p>  <span class='btn btn-danger btn-md item_add'>Ekle </span>  <label>Adet / Kg: <input class="item_Quantity form-control" type="text" value="1"></label></div>
</div>

</div><!-- end object -->
    
    </div> <!-- end row -->
      
	
<nav aria-label="...">
  <ul class="pager">
	<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Önceki</a></li>
    <li class="next"><a href="#">Sonraki <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
	
</div>


